## To Connect MySQL with Python

### >Install MySQl connector with help of PIP
### ->The we have establish the connection with database
### ->Problem statement by implementing different SQL statement

In [3]:
!pip install mysql

Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.0-cp38-cp38-win_amd64.whl (180 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.0

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp38-cp38-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-4.21.1-cp38-cp38-win_amd64.whl (524 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-4.21.1

## Connect with MySQL

In [7]:
#import mysqlconnectoronnector library
import mysql
import mysql.connector
# from mysql import connector

#you need to call this fn to connect to mysql and store this in variable called mydb
# import mysql.connector as sql_db 
    
mydb = mysql.connector.connect( 
    host = "127.0.0.1",
    user="root",    
    passwd="Sid@9619"
)
# mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018D04140DF0>

In [35]:
## Go to MySQl
# open the Python connection 
# and create db name:  create database sq;

In [13]:
## This database: testing is already created in MySQl(ForPython user) and we are Connecting Here!
# var mysql = require("mysql");

# // First you need to create a connection to the db
import mysql.connector

mydb = mysql.connector.connect(
  host = "127.0.0.1",
  user = "root",
  passwd = "Sid@9619",
  database ='testing'
);
connector.connect();

# var articles = {

# }

## Create a Database

In [72]:
import mysql.connector

mydb = mysql.connector.connect(host = "127.0.0.1", user="root", password="Sid@9619")
cursor = mydb.cursor()
cursor.execute('create database sports1')

-- DDL - Data Definition Language 
-- DML - Data Manipulation Language
-- DQL - Data Query Language
-- DCL - Data Control Language
-- TCL - Transaction Control Language

/*
Data Definition Language

1. Creating any object, Altering any object, Dropping any object, 
Trucating the data, Single line Commenting, Multiline Commenting

DDL commands - CREATE, ALTER, DROP, TRUNCATE

Data Manipulation Language

1. Inserting data into a table, Updating data in a table, Deleting data from the table

DML commands - INSERT, UPDATE, DELETE

Data Query Language

1. Querying the data from tables

DQL command - SELECT
*/

## Creating a Table inside sports schema

In [14]:
# MyCursor (Why do we need cursor in MySQL) Cursor helps to establish connection with MySQL db
# Its just like an object, It will help you go with all the databases, command providing for execution, Insertion
# Basically its connector which is used to execute the satement, to communicate with MySQL database

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")  #.execute =>

In [15]:
#To show the above created tables
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")  #.execute =>
print(mycursor)

#To see what all the tables you have
for x in mycursor:
    print(x)

CMySQLCursor: SHOW TABLES
('customers',)

## ALTER table to ADD new column in existing table

In [16]:
## ALTER
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

## INSERT values in the table:-

In [17]:
## Insert Values to the customers table

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
       
mydb.commit()               #.commit() :to insert data in db
       
print(mycursor.rowcount, "record inserted.")

1 record inserted.

### To insert multiple values at once:-

In [18]:
# To insert multiple values
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("Peter", "Lowstreet 4"),
    ("Amy", "Apple st 652"),                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    ("Hannah", "Mountain 21"),
    ("Michael", "Valley 345"),
    ("Sandy", "Ocean blvd 2 "),
    ("Betty", "Green Grass 1"),
    ("Richard", "Sky st 331"),
    ("Susan", "One way 98"),
    ("Vicky", "Yellow Garden 2"),
    ("Ben", "Park Lane 38"),
    ("William", "Central st 954"),
    ("Chuck", "Main Road 989"),
    ("Viola", "Sideway 1633")
]

mycursor.executemany(sql, val)  #.executemany: whenever we have lot of data we use this function

mydb.commit()  #.commit() function allows you to preform multiple queries at once

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### DQL : Select statement to see the Data

In [19]:
# To see the Data in customers column
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2 ', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)

In [20]:
# To see the number of data in customers column
mycursor.execute("SELECT count(*) FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(14,)

### Where conditon:

In [21]:
# Where conditon
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = 'Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

#To see what all the tables you have
for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 11)

In [22]:
# Where Condition to check if the values consist of "way" in any
#"LIKE" keyword: (To check pattern matching)
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

#To see what all the tables you have
for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

### ORDER by: In ASC / DESC

In [23]:
# ORDER By: It will give data in Ascending / Descending order , you can specify which column you want
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2 ', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

In [25]:
# Order by : in Descending order
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2 ', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

## SQL Statements

In [26]:
import mysql.connector
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619")
cursor = my_database.cursor()
cursor.execute("create database sports") #It will create database name: "sports"

In [27]:
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619")
cursor = my_database.cursor()
cursor.execute("show databases")  #It will Show the Databases

for i in cursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sports',)
('sys',)
('testing',)
('world',)

In [28]:
## To create tables,  Here we need to Select the Database "sports" first
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()
cursor.execute("create table player(name varchar(20), jersey_no int, age int, score int)")

In [30]:
# To view the tables created!
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()
cursor.execute("show tables")

for i in cursor:
    print(i)

('player',)

In [31]:
## Check in MySQL Workbench
# use sports;
# show tables;
# select * from player;

In [ ]:
# We have table player created above and now we will insert values inside each column and COMMIT the changes

In [33]:
# Now create
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "insert into player(name, jersey_no, age, score)values(%s, %s, %s, %s)"
player1 = ('sachin', 10,32,100)
cursor.execute(sql,player1)
my_database.commit()  #You need to use this "COMMIT" function inorder to update in the Database very IMP

In [34]:
## If we want to insert Multiple Values:

my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "insert into player(name, jersey_no, age, score)values(%s, %s, %s, %s)"
# Here we will create a List instead: []
player1 = [('lara', 11,33,101), ('pointing', 12,34,102), ('yuvraj', 13,34,151), ('dhoni', 7,35,151), ('kholi', 1,26,190)]
cursor.executemany(sql,player1)  #Note here we need to write .executemany
my_database.commit()  #You need to use this "COMMIT" function inorder to update in the Database very IMP

#See in MySQL

In [35]:
# to see here
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

cursor.execute("select * from player")
cursor.fetchall()

[('sachin', 10, 32, 100),
 ('lara', 11, 33, 101),
 ('pointing', 12, 34, 102),
 ('yuvraj', 13, 34, 151),
 ('dhoni', 7, 35, 151),
 ('kholi', 1, 26, 190)]

In [36]:
## If you want to fetch one recore
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()
cursor.execute("select * from player")
cursor.fetchone()

('sachin', 10, 32, 100)

## DML: UPDATE,  DELETE,  DROP  records

In [ ]:
## If you get any error like : DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

# Go to Commang line client -> login with password -> Type: SHOW PROCESSLIST;
## and See the Process running with the db you have created
##-> You need to kill those: type:  kill processID;

## UPDATE

In [45]:
## Update lara age to 46
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "update player set age=46 where name='lara'"

cursor.execute(sql)
my_database.commit()

# Check in MySQL

In [47]:
cursor.execute("select * from player")
cursor.fetchall()

[('sachin', 10, 32, 100),
 ('lara', 11, 46, 101),
 ('pointing', 12, 34, 102),
 ('yuvraj', 13, 34, 151),
 ('dhoni', 7, 35, 151),
 ('kholi', 1, 26, 190)]

In [52]:
## Updating dhoni name to sehwag using age of dhoni which is 35
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "update player set name='sehwag' where age=35"

cursor.execute(sql)
my_database.commit()

In [53]:
cursor.execute("select * from player")
cursor.fetchall()

[('sachin', 10, 32, 100),
 ('lara', 11, 46, 101),
 ('pointing', 12, 34, 102),
 ('yuvraj', 13, 34, 151),
 ('sehwag', 7, 35, 151),
 ('kholi', 1, 26, 190)]

In [54]:
## Seting a LIMIT, Like if you want only display first 5 records
sql = "select * from player limit 5"
cursor.execute(sql)

for i in cursor:
    print(i)

('sachin', 10, 32, 100)
('lara', 11, 46, 101)
('pointing', 12, 34, 102)
('yuvraj', 13, 34, 151)
('sehwag', 7, 35, 151)

In [55]:
#3 If we want to display records from lara
sql = "select * from player limit 5 offset 1"
cursor.execute(sql)

for i in cursor:
    print(i)

('lara', 11, 46, 101)
('pointing', 12, 34, 102)
('yuvraj', 13, 34, 151)
('sehwag', 7, 35, 151)
('kholi', 1, 26, 190)

## DELETE Statement

In [56]:
## Delete yuvraj record
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "delete from player where age=34"
cursor.execute(sql)
my_database.commit()

In [57]:
cursor.execute("select * from player")
cursor.fetchall()

[('sachin', 10, 32, 100),
 ('lara', 11, 46, 101),
 ('sehwag', 7, 35, 151),
 ('kholi', 1, 26, 190)]

In [58]:
## Deleting wrt score
my_database = mysql.connector.connect(host='127.0.0.1', user='root', password="Sid@9619", database="sports")
cursor = my_database.cursor()

sql = "delete from player where score=100"
cursor.execute(sql)
my_database.commit()

cursor.execute("select * from player")
cursor.fetchall()

[('lara', 11, 46, 101), ('sehwag', 7, 35, 151), ('kholi', 1, 26, 190)]

## DROP statement

In [59]:
## All the records from the table will be deleted along with the Schema
sql = "drop table player"
cursor.execute(sql)
my_database.commit()

In [61]:
# cursor.execute("select * from player")
# cursor.fetchall()

### Recap
\
/
We have started understanding how to create a connection with MySQL
### >Install MySQl connector with help of PIP
### ->The we have establish the connection with database
### ->Problem statement by implementing different SQL statement